body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jakarta sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}